<%= render 'layouts/navigation' %>
<% @title = "About Me!" %>
<%= render 'layouts/footer' %>

<h1>About Me!</h1>
  
<div class="container">
  <div class="row">
  <div class="center col-sm-4 thumbnail"><%= image_tag("BJK.jpg", class: "img-fluid") %></div>
  <div class="col-sm-8">
    <p>Hi there! I’m BJ, and I'm awesome.</p>
    <p>I write a little bit of everything, from science-fiction and fantasy to horror. There’s even some steampunk thrown in for good measure. In other words, people pay me to make stuff up. It’s kind of awesome.</p>
    <p>Outside of that, I’m a geek. I love Star Wars, MMORPGs, Dungeons and Dragons, sci-fi, fantasy, comic books, Firefly, and pretty much everything else that gets floor space at Comic-Con. I’m an English professor, and I am also nuts about running, fitness, and health.</p>
    <p>And because of all that geekery and awesomeness, I'm a podcaster, too. You can hear me co-host <strong><%= link_to "the Geek to Geek Podcast", "itunes.apple.com/us/podcast/geek-to-geek-podcast/id1092737489" %></strong> and the host of <strong><%= link_to "the Geek Fitness Health Hacks", "http://www.geekfitness.net" %></strong> podcast. If you can't get enough of me though my books, these shows should keep you Beejified. #didijustsaythat?</p>
    <p>And if you <em>still</em> can't get enough of me, you should also know that I may be a little bit of an internet junkie. I'm pretty much everywhere. If you want to find me, the list below is a pretty decent place to start. Don't hesitate to reach out and say hello. We're all friends here, after all!</p>
    

          <li class="col-sm-2"><%= link_to "Facebook", "http://www.facebook.com/geekfitnessnet", class: "contact-list" %></li>
          <li class="col-sm-2"><%= link_to "Twitter", "http://twitter.com/professorbeej", class: "contact-list" %></li>
          <li class="col-sm-2"><%= link_to "Google+", "https://plus.google.com/+BJKeeton", class: "contact-list" %></li>
          <li class="col-sm-2"><%= link_to "Instagram", "http://www.instagram.com/geekfitness_", class: "contact-list" %></li>
          <li class="col-sm-2"><%= link_to "Pinterest", "http://www.pinterest.com/geekfitness", class: "contact-list" %></li>
          <li class="col-sm-2"><%= link_to "YouTube", "http://www.youtube.com/geekfitness", class: "contact-list" %></li>

          
 
  </div>
  </div>
  </div>

<div class="container">  
      <h2><strong>And don't forget to sign up for <%= link_to "my newsletter", newsletter_path %> to get details about new releases and free, advance copies of all my books!</h2></strong>
</div>