<%= render 'layouts/navigation' %>
<% @title = "About Me!" %>
<%= render 'layouts/footer' %>

<h1>About B.J.</h1>
  
<div class="container">
  <div class="row">
  <div class="center col-sm-4 thumbnail"><%= image_tag("BJK.jpg", class: "img-fluid") %></div>
  <div class="col-sm-8">
    <p>Hi there! I’m BJ, and I'm awesome.</p>
    <p>I write a little bit of everything, from science-fiction and fantasy to horror. There’s even some steampunk thrown in for good measure. In other words, people pay me to make stuff up. It’s kind of awesome.</p>
    <p>Outside of that, I’m a geek. I love Star Wars, MMORPGs, Dungeons and Dragons, sci-fi, fantasy, comic books, Firefly, and pretty much everything else that gets floor space at Comic-Con. I’m an English professor, and I am also nuts about running, fitness, and health.</p>
    <p>And because of all that geekery and awesomeness, I'm a podcaster, too. You can hear me co-host <%= link_to "the Geek to Geek Podcast", "itunes.apple.com/us/podcast/geek-to-geek-podcast/id1092737489" %> and the host of <%= link_to "the Geek Fitness Health Hacks", "http://www.geekfitness.com" %> podcast. If you can't get enough of me though my books, these shows should keep you Beejified. #didijustsaythat?</p>
  </div>
  </div>
  </div>