<%= render 'layouts/navigation' %>

<h1><em>Birthright, The Technomage Archive (Book 1)</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-4 thumbnail"><%= image_tag("BIRTHRIGHT_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-md-8">
        <h2>BIRTHRIGHT is the first book in THE TECHNOMAGE ARCHIVE, an epic fantasy trilogy set in a science-fiction world.</h2>
        <p>Damien Vennar used to be a god. </p>
            <p>As a technomage of the Archive, Damien had the power to create entire universes. Then, five hundred years ago, he gave
                it all up. He suspended the nanites that made up his bloodstream and began to age—and eventually die—like anyone else. 
                For centuries, Damien has lived among those who once worshiped him, his real identity fading into myth and legend. </p>
            <p>Hundreds of years later, when Ceril Bain finds Damien’s old sword buried in his grandfather's garden, he is put on the 
                fast-track to follow in Vennar's footsteps. Over the next six years, Ceril trains as a technomage aboard the Inkwell Sigil, 
                a ship with the ability to travel between dimensions. Just as Ceril is preparing to undergo his Rites and finish his training, 
                the Inkwell Sigil loses power. Stranded in space with no way back home, Ceril and four of his classmates are given their final 
                assignment: go into uncharted territory, find a way back home, and bring back the one person who can fix the ship—Damien Vennar himself. </p>
            <p>While away, Ceril and his team find themselves in a predicament when they confuse an attempt at first contact with an attack and kill two 
                of the world’s winged inhabitants. They are shortly captured and imprisoned, and the only thing keeping them alive is their angel-like captors’ 
                belief they may be the subjects of an ancient prophecy about a group of magic-wielding messiahs. But that’s impossible. Isn’t it? </p>
            <div class="container"><%= link_to "Listen to the Audiobook for Free!", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-warning", id: "audiobook" %></div>
      </div>
  </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Birthright can be downloaded for FREE at any of the following retailers: </h2>
        </div>
      </div>
      <div class="center row">
        <div class="col-md-3"><%= link_to "Amazon Kindle", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-info" %></div>
        <div class="col-md-3"><%= link_to "Barnes & Noble", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-success" %></div>
        <div class="col-md-2"><%= link_to "Kobo", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-warning" %></div>
        <div class="col-md-2"><%= link_to "iTunes", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-custom" %></div>
        <div class="col-md-2"><%= link_to "Smashwords", 'http://www.audible.com/pd/Sci-Fi-Fantasy/Birthright-Audiobook/B016C8LGO2', class: "btn btn-lg btn-danger" %></div>
      </div>



  </div>
  