<%= render 'layouts/navigation' %>
<% @title = "My Books!" %>

<div class="center container">


    <div class="row">
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("BIRTHRIGHT_Cover.jpg", class: "img-fluid"), birthright_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("LINEAGE_Cover.jpg", class: "img-fluid"), lineage_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("LEGACY_Cover.jpg", class: "img-fluid"), legacy_path%></div>
    </div>
    <div class="row">
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("A_NEW_DAY_Cover.jpg", class: "img-fluid"), a_new_day_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("WORKING_RETAIL_Cover.jpg", class: "img-fluid"), working_retail_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("SAM_AND_ASH_Cover.jpg", class: "img-fluid"), sam_and_ash_path%></div>
    </div>
    <div class="row">
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("NIMBUS_P1_Cover.jpg", class: "img-fluid"), nimbus_part_1_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("NIMBUS_Cover.jpg", class: "img-fluid"), nimbus_path %></div>
        <div class="col-sm-4 thumbnail"><%= link_to image_tag("STRATUS_P1_Cover.jpg", class: "img-fluid"), stratus_part_1_path%></div>
    </div>
</div>