<%= render 'layouts/navigation' %>



<div class="center container">


    <div class="row">
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("BIRTHRIGHT_Cover.jpg", :height => 550, :width => 344), birthright_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("LINEAGE_Cover.jpg", :height => 550, :width => 344), lineage_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("LEGACY_Cover.jpg", :height => 550, :width => 344), legacy_path%></div>
    </div>
    <div class="row">
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("A_NEW_DAY_Cover.jpg", :height => 550, :width => 344), birthright_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("WORKING_RETAIL_Cover.jpg", :height => 550, :width => 344), lineage_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("SAM_AND_ASH_Cover.png", :height => 550, :width => 344), legacy_path%></div>
    </div>
    <div class="row">
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("NIMBUS_P1_Cover.jpg", :height => 550, :width => 344), birthright_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("NIMBUS_Cover.jpg", :height => 550, :width => 344), lineage_path %></div>
        <div class="col-sm-4 thumbnail-book"><%= link_to image_tag("STRATUS_P1_Cover.jpg", :height => 550, :width => 344), legacy_path%></div>
    </div>
</div>