<%= render 'layouts/navigation' %>
<% @title = "Legacy" %>
<%= render 'layouts/footer' %>

<h1><em>Legacy, The Technomage Archive (Book 3)</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-sm-4 thumbnail"><%= image_tag("LEGACY_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-sm-8">
            <h2>THE TECHNOMAGE ARCHIVE is an epic fantasy trilogy set in a science-fiction world.</h2>
            <p>The Untouchable has returned.</p>
            <p>The demigod’s telepathic control of his people has made Erlon a peaceful world. But people are disappearing, and their friends and families don’t remember them once they’re gone. Something is upsetting the Untouchable’s carefully controlled paradise. </p>
            <p>Saryn, Chuckie, and the rest of the Charons have spent the decade hiding, but not resting. Saryn has found a way to sever the Untouchable’s control over the people of Erlon. But if they use it, people may die. Lots of people. Saryn and Chuckie must decide if the price of freedom is too high, and whether or not they have the right to pay it in the first place.</p>
            <p>LEGACY concludes the epic trilogy with old friends, new faces, and a final confrontation where the fate of the universe hangs in the balance. </p>
            <div class="center"><%= link_to "Audiobook Coming Soon!", 'http://www.audible.com/search/ref=a_pd_Sci-Fi_c2_1_auth?searchAuthor=B.J.+Keeton/', class: "btn btn-lg btn-danger" %></div>
      </div>
  </div>
      <div class="row">
        <div class="center">
          <h2>Legacy can be purchased at any of the following retailers: </h2>
        </div>
      </div>
      <div class="center row">
        <div class="col-sm-3"><%= link_to "Amazon Kindle", 'http://www.amazon.com/dp/B00VI8GA3E', class: "btn btn-lg btn-info" %></div>
        <div class="col-sm-3"><%= link_to "Barnes & Noble", 'http://www.barnesandnoble.com/w/books/1122175025', class: "btn btn-lg btn-info" %></div>
        <div class="col-sm-3"><%= link_to "Kobo", 'https://store.kobobooks.com/en-US/ebook/legacy-117', class: "btn btn-lg btn-info" %></div>
        <div class="col-sm-3"><%= link_to "iTunes", 'https://itunes.apple.com/us/book/legacy/id1009008786', class: "btn btn-lg btn-info" %></div>
        </div>
  </div>
