<%= render 'layouts/navigation' %>

<h1><em>Nimbus: A Steampunk Novel (Omnibus)</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-4 thumbnail"><%= image_tag("NIMBUS_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-md-8">
        <h2>NIMBUS is steampunk for people who don't know they like steampunk, as well as being steampunk for people who already love steampunk!</h2>
        <p>Seedy corporations and airship factions, demons and rogues, zealots and thieves...</p>

<p>Nimbus is an epic tale of power, greed, and corruption. </p>
<p>Jude Finley is a new recruit aboard the Gangly Dirigible, an airship that extracts water from rainclouds. While working aboard the ship, Jude and his friends uncover a secret which may or may not help them against a growing uprising that could spell doom for everyone on the planet. </p>
<p>Meanwhile, Demetrius Rucca, the wheelchair-bound son of a prominent religious leader, begins recruiting followers for his own subversive cause. As allegiances are sworn to him and his followers grow, he begins to discover the new powers that lie within him. This power could be the salvation Demetrius is looking for–or it could be the destruction of the known world.</p>
                <p>&nbsp;</p>
            <div class="col-md-offset-3 container"><%= link_to "Read Part 1 of the serial novel for FREE!", nimbus_part_1_path, class: "btn btn-lg btn-success" %></div>
      </div>
  </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Nimbus can be purchased at any of the following retailers: </h2>
        </div>
      </div>
      <div class="center row">
        <div class="col-md-3"><%= link_to "Amazon Kindle", 'http://www.amazon.com/dp/B00CA67A64', class: "btn btn-lg btn-info" %></div>
        <div class="col-md-3"><%= link_to "Barnes & Noble", 'http://www.barnesandnoble.com/w/nimbus-bj-keeton/1115275869', class: "btn btn-lg btn-success" %></div>
        <div class="col-md-2"><%= link_to "Kobo", 'https://store.kobobooks.com/en-US/ebook/nimbus-a-steampunk-novel-omnibus', class: "btn btn-lg btn-warning" %></div>
        <div class="col-md-2"><%= link_to "iTunes", 'https://itunes.apple.com/us/book/nimbus-steampunk-novel-omnibus/id908843234', class: "btn btn-lg btn-info" %></div>
        <div class="col-md-2"><%= link_to "Smashwords", 'https://www.smashwords.com/books/view/437088', class: "btn btn-lg btn-danger" %></div>
      </div>
  </div>
  