<%= render 'layouts/navigation' %>
<% @title = "Stratus, Part One" %>

<h1><em>Stratus: A Steampunk Novel (Part One)</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-6 thumbnail"><%= image_tag("STRATUS_P1_Cover", class: "img-fluid") %></div>
      <div class="col-md-6">
        <h2>STRATUS is the follow-up to the #1 bestselling <%= link_to "NIMBUS", nimbus_path %>, a steampunk novel for people who don't know they like steampunk. </h2>
          <p>Airship fleets and violent uprisings, mercenaries and rebels, a world in chaos...STRATUS is a tale of revenge and redemption.</p>
          <p>Three years after the events of NIMBUS, political unrest and a civil war have caused various factions to sprout up all around the world. Valencia McCaw has sworn off her past life on an airship and now works for one of these organizations. But a murderous betrayal has her returning to the skies with a band of unlikely companions. As she encounters old friends and new enemies, she will have to decide if the world is really worth saving. </p>
          <p>Magdalene Pike is the admiral of an elite airship fleet, but her duplicitous career with the criminal underground has her hunting ancient artifacts from the abandoned structures called Burrows that exist beneath the surface. It is here that she confronts an ancient and mysterious power that many consider to be only a legend. </p>
          <p>As these rival factions struggle for supremacy of Nimbus, both women barrel toward their epic and inevitable confrontation.</p>
                          <p>&nbsp;</p>
            <div class="col-md-offset-3 container"><%= link_to "Amazon Kindle", 'http://www.amazon.com/dp/B00OBIBG6Y', class: "btn btn-lg btn-success" %></div>
            <p>&nbsp;</p>
            <p>Be sure to sign up for <%= link_to "my newsletter", newsletter_path %> to find out about Part 2's release before anyone else!</p>
      </div>
    </div>
  </div>

  