<%= render 'layouts/navigation' %>
<% @title = "Working Retail" %>
<%= render 'layouts/footer' %>

<h1><em>Working Retail, A Zombie Apocalypse Short Story</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-4 thumbnail"><%= image_tag("WORKING_RETAIL_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-md-6">
            
            <p>Working Retail is a comedic look at a recent college graduate who is working at MediaTown to make ends meet after the zombie apocalypse ruined his prospects of employment in his field.</p>
            <p>He was promised a cushy job at a tech firm after graduation, but unlike him, the firm did not survive the outbreak. Now, he is struggling to pay off his student loans, while not only dealing with problem customers, but also zombies who shamble into his department and want to buy HDTVs and laptops.</p>
            <p>What life would be like if the zombie apocalypse didn't destroy the basic infrastructure of our day to day lives? How would we adapt to zombies as we work our nine-to-fives?</p>
                <p>&nbsp;</p>
            <div class="col-md-offset-3 container"><%= link_to "Read for FREE at BuzzyMag.com!", 'http://buzzymag.com/working-retail-by-b-j-keeton/', class: "btn btn-lg btn-success" %></div>
      </div>
  </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Working Retail can be purchased at any of the following retailers: </h2>
        </div>
      </div>
      <div class="center row">
        <div class="col-md-3"><%= link_to "Amazon Kindle", 'http://www.amazon.com/dp/B00XWE6SHU', class: "btn btn-lg btn-success" %></div>
        <div class="col-md-3"><%= link_to "Barnes & Noble", 'http://www.barnesandnoble.com/w/working-retail-bj-keeton/1121963268', class: "btn btn-lg btn-success" %></div>
        <div class="col-md-3"><%= link_to "Kobo", 'https://store.kobobooks.com/en-US/ebook/working-retail', class: "btn btn-lg btn-success" %></div>
        <div class="col-md-3"><%= link_to "iTunes", 'https://itunes.apple.com/us/book/working-retail/id996642996?mt=11', class: "btn btn-lg btn-success" %></div>
        </div>
  </div>
