<footer>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

      
      <div class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
          <li><%= link_to fa_icon("facebook", class: "img-fluid"), "http://www.facebook.com/geekfitnessnet" %></li>
          <li><%= link_to fa_icon("twitter", class: "twitterauth"), "http://twitter.com/professorbeej" %></li>
          <li><%= link_to fa_icon("google-plus", class: "facebookauth"), "https://plus.google.com/+BJKeeton" %></li>
          <li><%= link_to fa_icon("instagram", class: "facebookauth"), "http://www.instagram.com/geekfitness_" %></li>
          <li><%= link_to fa_icon("pinterest", class: "facebookauth"), "http://www.pinterest/geekfitness" %></li>
          <li><%= link_to fa_icon("snapchat-ghost", class: "facebookauth"), "http://www.snapchat.com/professorbeej" %></li>
          <li><%= link_to fa_icon("twitch", class: "facebookauth"), "http://twitch.tv/geekfitness" %></li>
        </ul>
    </div>
    
    
  </div>
</div>
</footer>