<footer id="footer">
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

      
      <div class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
          <li class="col-xs-2"><%= link_to fa_icon("facebook", id: "footer-icon"), "http://www.facebook.com/geekfitnessnet" %></li>
          <li class="col-xs-2"><%= link_to fa_icon("twitter", id: "footer-icon"), "http://twitter.com/professorbeej" %></li>
          <li class="col-xs-2"><%= link_to fa_icon("google-plus", id: "footer-icon"), "https://plus.google.com/+BJKeeton" %></li>
          <li class="col-xs-2"><%= link_to fa_icon("instagram", id: "footer-icon"), "http://www.instagram.com/geekfitness_" %></li>
          <li class="col-xs-2"><%= link_to fa_icon("pinterest", id: "footer-icon"), "http://www.pinterest/geekfitness" %></li>
          <li class="col-xs-2"><%= link_to fa_icon("youtube", id: "footer-icon"), "http://www.youtube.com/geekfitness" %></li>
        </ul>
    </div>
    
    
  </div>
</div>
</footer>