

<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "B.J. Keeton, Author", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Free Stuff!", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li class = "dropdown">
          <%= link_to "My Books!", "", class: "dropdown-toggle", "data-toggle" => "dropdown" %>
            <ul class = "dropdown-menu">
              <li><%= link_to "Birthright", birthright_path %></li>
              <li><%= link_to "Lineage", lineage_path %></li>
              <li><%= link_to "Legacy", legacy_path %></li>
        </li>
            </ul>
      <li><%= link_to "Get Email Updates!", root_path, class: "right", id: "logo" %></li>
      </ul>
    </nav>
  </div>
</header>
